
//fuentes
$fuente: Arial, sans-serif;

//colores
$color-principal: #003b71;
$color-secundario: #1e293b;
$color-hover: #0056a3;
$color-texto-menu: white;

//espaciados
$espaciado: 20px;

//Login    
$color-primario-Login: #003b71;
$color-secundario-Login: #f4f4f4;
$color-texto: #333;
$color-boton-Login: #0056a3;

//shadow
$box-shadow-general:0 4px 12px rgba(0, 0, 0, 0.15);

